.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: larger;
    cursor:grab;

}

.button {
    background-color: rgb(189, 44, 44);
    border-radius: 10px;
    border-color: transparent;
    height: 50px;
    width: 100px;
    font-weight: bolder;
    font-size: larger;
    color:white;
    display:block;
    text-decoration:none;
    cursor:pointer;
    transition: background-color 0.2s, 
    height 2s, width 2s, border-radius 0.2s;
}

.button:hover {
    background-color: rgb(133, 29, 29);
    height: 250px;
    width: 300px;
    border-radius: 12px;
    
}

.Button-N-Text {
    display:inline-block;
}

.button-location {
    text-decoration: none;
}